.section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain {
    position: relative;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 65rem;
}

.contain.absolute { position: absolute; }

@media (min-width: 768px) {
    .section { padding-left: 3rem; padding-right: 3rem; }
    .contain { padding-left: 0; padding-right: 0; }
}