.button.variant-nav {
    background-color: transparent;
    color: rgba(var(--color-headline), 0.6);

    @media (max-width: 767px) {
        justify-content: space-between;
        height: 3rem;
        padding: 0 1.5rem;
        font-size: 1rem;
        border-radius: 0;
        border-bottom: 0.0625rem solid rgba(var(--color-headline), 0.06);

        & > svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: transparent;
            box-shadow: none;
            color: rgba(var(--color-headline), 1);
        }
    }
}

.button.variant-nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1;
    padding: 0 0.75rem;
    height: 2.25rem;
    border-radius: 0.25rem;
    color: rgba(var(--color-headline), 0.6);
    background-color: transparent;
    box-shadow: none;
    transition: color 100ms linear 0ms, background-color 100ms linear 0ms, border 100ms linear 0ms;

    @media (max-width: 767px) {
        height: 2.5rem;
        padding: 0 1.5rem;
        font-size: 0.875rem;
        border-radius: 0;
        border-bottom: 0.0625rem solid rgba(var(--color-headline), 0.06);

        & > svg {
            display: none;
        }
    }

    @media (hover: hover) {
        &:hover {
            color: rgba(var(--color-headline), 1);
            background-color: rgba(var(--color-highlight), 1);
        }
    }

    @media (hover: hover) and (min-width: 768px) {
        &:hover {
            border: 0.0625rem solid rgba(var(--color-headline), 0.12);
        }
    }
}

@media (hover: hover) and (min-width: 768px) {
    details:hover > .button.variant-tab,
    details:hover > .button.variant-nav { background-color: transparent; box-shadow: none; color: rgba(var(--color-headline), 1); }
}

[data-navigation] {
    [data-navigation-icon],
    [data-navigation-icon] > div:nth-child(1),
    [data-navigation-icon] > div:nth-child(2) { transition: transform 300ms ease 0ms; }
    [data-navigation-bg] { transition: opacity 300ms cubic-bezier(0,0.3,0.3,1) 0ms, background-color 300ms cubic-bezier(0,0.3,0.3,1) 0ms;}

    [data-navigation-contents] {
        visibility: hidden;
        width: 0;
        opacity: 0;
        transition: width 300ms cubic-bezier(0,0.3,0.3,1) 0ms, opacity 300ms cubic-bezier(0,0.3,0.3,1) 0ms, visibility 0ms linear 301ms; 
    }

    @media (min-width: 768px) {
        [data-navigation-contents] {
            visibility: visible;
            width: 100%;
            opacity: 1;
        }
        
        input { display: none; }
    }
}

[data-navigation]:has(input:checked) {
    @media (max-width: 767px) {
        [data-navigation-bg] { background-color: rgba(var(--color-background), 1); opacity: 1; }
        [data-navigation-icon] { transform: rotate3d(0, 0, 1, -45deg); }
        [data-navigation-icon] > div:nth-child(1) { transform: translate3d(0, 0.1875rem, 0) rotate3d(0, 0, 1, 90deg); }
        [data-navigation-icon] > div:nth-child(2) { transform: translate3d(0, -0.1875rem, 0); }

        [data-navigation-contents] {
            visibility: visible;
            width: 100%;
            opacity: 1;
            transition: width 300ms cubic-bezier(0,0.3,0.3,1) 1ms, opacity 300ms cubic-bezier(0,0.3,0.3,1) 1ms, visibility 0ms linear 0ms; 
        }
    }
}

[data-navigation]:has(input:focus-visible) {
    [data-navigation-icon] {
        border-radius: 0.3125rem;
        outline: none !important;
        background-color: rgba(var(--color-primary), 1) !important;
        border-color: rgba(var(--color-primary), 1) !important;
        color: rgba(var(--white), 1) !important;
        box-shadow: 0 0 0 0.0625rem rgba(var(--color-background), 1), 0 0 0 0.125rem rgba(var(--color-primary), 1) !important;
    }
}