section,
.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section { position: relative; flex-direction: column; }
@media (min-width: 768px) { .section, section { padding-left: 3rem; padding-right: 3rem; }}