@import url("components/_container.css");
@import url("components/_link-btn.css");
@import url("components/_link-txt.css");
@import url("components/_navigation.css");
@import url("components/_section.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100 900;
        font-display: block;
        src: url(/assets/fonts/InterVariable.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Inter';
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url(/assets/fonts/InterVariable-Italic.woff2) format('woff2');
    }
    :root {
        --color-primary: 0, 85, 255;
        --black: 0, 0, 0;
        --white: 255, 255, 255;
        /* Light */
        --color-theme: 255, 255, 255;
        --color-inverse: 0, 0, 0;
        --color-shadow: 230, 230, 230;
        --color-background: 237, 237, 237;
        --color-middleground: 245, 245, 245;
        --color-foreground: 250, 250, 250;
        --color-highlight: 255, 255, 255;
        --color-detail: 89, 89, 89;
        --color-content: 64, 64, 64;
        --color-headline: 0, 0, 0;
        --color-link: 0, 85, 255;
        --color-linkhover: 66, 129, 255;
        -webkit-font-smoothing: antialiased;
    }    
}