---
layout: "main.njk"
seoTitle: "GetRich: A framework-free design system for marketing websites"
seoDesc: "Unleash creative people and processes to unlock the next large wave of growth for your business."
ogTitle: "GetRich: A framework-free design system for marketing websites"
ogDesc: "Unleash creative people and processes to unlock the next large wave of growth for your business."
ogImage: "/assets/images/og/default.jpg"
ogImageAlt: "Person with 90s style apparrel sitting on office chair with large old computer on lap with their thumbs up."
changefreq: daily
---
{% import "_icons.njk" as icon %}
{% import "_elements.njk" as element %}
{% import "_modules.njk" as module %}

<section class="section">
    {{ element.designGrid() }}
    <div class="contain flex flex-col items-center text-center gap-72 pt-160">
        <div class="relative flex flex-col items-center gap-y-12 max-w-896">
            <div class="relative border border-headline/30 max-w-688 relative">
                <div class="w-8 h-8 absolute -top-4 -left-4 bg-inverse"></div>
                <div class="w-8 h-8 absolute -top-4 -right-4 bg-inverse"></div>
                <h1 class="text-48/100 sm:text-72/100 md:text-80/100 text-balance" style="letter-spacing: -0.04em;" contenteditable="true">
                    Build a <span class="hidden sm:inline">fancy</span> website, sell <span class="hidden sm:inline">lots of</span> software
                </h1>
            </div>
            <p class="text-20/170 text-detail text-balance">
                GetRich is opinionated boilerplate for <a href="#" class="link">your SaaS</a> brand. Bypass the bullshit and start growing your business.
            </p>
            <div class="flex items-center justify-center gap-x-16 mt-12">
                {{ element.button(
                    size="md",
                    href="#",
                    label="Use the template",
                    iconRight=icon.chevronRight(),
                    class="w-160"
                )}}
                {{ element.button(
                    variant="secondary",
                    size="md",
                    href="#",
                    attrs="data-button-crazy",
                    track="cta-secondary-hero",
                    label="Read the docs",
                    class="w-160"
                )}}
            </div>
        </div>
        <div class="w-full min-h-640 mt-48 sm:mt-0 bg-middleground shadow-2xl rounded-card"></div>
    </div>
</section>

<section class="section py-160">
    <ul class="contain grid grid-cols-3 gap-16">
        <li class="flex flex-col justify-between w-full min-h-320 rounded-card bg-middleground shadow-lg p-32">
            <div>
                <h3 class="text-20/120 font-semibold mb-2">
                    This is a headline
                </h3>
                <p class="text-14/160 text-detail">
                    Some description that helps explain the topic can go in the slot.
                </p>
            </div>
            <div class="w-full h-40 bg-foreground shadow-sm"></div>
        </li>
       <li class="flex flex-col justify-between w-full min-h-320 rounded-card bg-middleground shadow-lg p-32">
            <div>
                <h3 class="text-20/120 font-semibold mb-2">
                    This is a headline
                </h3>
                <p class="text-14/160 text-detail">
                    Some description that helps explain the topic can go in the slot.
                </p>
            </div>
            <div class="w-full h-40 bg-foreground shadow-sm"></div>
        </li>
        <li class="flex flex-col justify-between w-full min-h-320 rounded-card bg-middleground shadow-lg p-32">
            <div>
                <h3 class="text-20/120 font-semibold mb-2">
                    This is a headline
                </h3>
                <p class="text-14/160 text-detail">
                    Some description that helps explain the topic can go in the slot.
                </p>
            </div>
            <div class="w-full h-40 bg-foreground shadow-sm"></div>
        </li>
    </ul>
</section>

<div class="flex flex-col items-center justify-center gap-y-24 p-24 bg-red-100">
    <h1 class="px-48 py-48 border border-black rounded-8 text-48/100">
        Hello world
    </h1>
    {% macro buttonPreview(buttonSize, gap) %}
    <div class="flex items-center w-full max-w-320 {{ gap }}">
        {{ element.button(
            variant="primary",
            size=buttonSize,
            href="#",
            label="Get started",
            iconRight=icon.chevronRight()
        )}}
        {{ element.button(
            variant="secondary",
            size=buttonSize,
            href="#",
            label="Get started",
            iconRight=icon.chevronRight()
        )}}
        {{ element.button(
            variant="text",
            size=buttonSize,
            href="#",
            label="Get started",
            iconRight=icon.chevronRight()
        )}}
    </div>
    {% endmacro %}
    {{ buttonPreview("3xs", "gap-x-10") }}
    {{ buttonPreview("2xs", "gap-x-12") }}
    {{ buttonPreview("xs", "gap-x-14") }}
    {{ buttonPreview("sm", "gap-x-16") }}
    {{ buttonPreview("md", "gap-x-18") }}
    {{ buttonPreview("lg", "gap-x-20") }}
    {{ buttonPreview("xl", "gap-x-24") }}
</div>

<section></section>