<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />
</head>
<body>
    <h1 class="px-24 py-24">
        Hello world
    </h1>
</body>
</html>