---
layout: "main.liquid"
seoTitle: "GetRich: A framework-free design system for marketing websites"
seoDesc: "Unleash creative people and processes to unlock the next large wave of growth for your business."
ogTitle: "GetRich: A framework-free design system for marketing websites"
ogDesc: "Unleash creative people and processes to unlock the next large wave of growth for your business."
ogImage: "/assets/images/og/default.jpg"
ogImageAlt: "Person with 90s style apparrel sitting on office chair with large old computer on lap with their thumbs up."
changefreq: daily
---

<div class="flex align-center justify-center p-24 bg-red-100">
    <h1 class="px-48 py-48 border border-black rounded-8 text-128/110">
        Hello world
    </h1>
</div>