---
layout: "main.njk"
seoTitle: "GetRich: A framework-free design system for marketing websites"
seoDesc: "Unleash creative people and processes to unlock the next large wave of growth for your business."
ogTitle: "GetRich: A framework-free design system for marketing websites"
ogDesc: "Unleash creative people and processes to unlock the next large wave of growth for your business."
ogImage: "/assets/images/og/default.jpg"
ogImageAlt: "Person with 90s style apparrel sitting on office chair with large old computer on lap with their thumbs up."
changefreq: daily
---
{% import "_icons.njk" as icon %}
{% import "_elements.njk" as element %}
{% import "_modules.njk" as module %}

<section class="section pt-48">
    <div class="contain flex flex-col items-center text-center border border:black">
        <div class="relative flex flex-col gap-y-8 sm:py-192 max-w-896">
            <h1 class="text-40/100 sm:text-80/100 tracking-tight text-balance">
                Build custom marketing sites with craft and speed.
            </h1>
            <p class="text-20/170 text-detail text-balance">
                Sed ut perspiciatis unde <a href="#" class="link">primary link</a> natus error sit voluptatem accusantium doloremque laudantium, totam rem.
            </p>
            <div class="flex items-center justify-center gap-x-12 mt-8">
                {{ element.button(
                    size="sm",
                    href="#",
                    label="Get started",
                    iconRight=icon.chevronRight()
                )}}
                {{ element.button(
                    variant="secondary",
                    size="sm",
                    href="#",
                    attrs="data-button-crazy",
                    track="cta-secondary-hero",
                    label="Contact sales"
                )}}
                {{ element.button(
                    variant="text",
                    size="sm",
                    href="#",
                    attrs="data-button-crazy",
                    track="cta-secondary-hero",
                    label="View docs",
                    class="-ml-10"
                )}}
            </div>
        </div>
        <div class="w-full min-h-320 mt-48 sm:mt-0 bg-foreground"></div>
    </div>
</section>

<div class="flex flex-col items-center justify-center gap-y-24 p-24 bg-red-100">
    <h1 class="px-48 py-48 border border-black rounded-8 text-48/100">
        Hello world
    </h1>
    {% macro buttonPreview(buttonSize, gap) %}
    <div class="flex items-center w-full max-w-320 {{ gap }}">
        {{ element.button(
            variant="primary",
            size=buttonSize,
            href="#",
            label="Get started",
            iconRight=icon.chevronRight()
        )}}
        {{ element.button(
            variant="secondary",
            size=buttonSize,
            href="#",
            label="Get started",
            iconRight=icon.chevronRight()
        )}}
        {{ element.button(
            variant="text",
            size=buttonSize,
            href="#",
            label="Get started",
            iconRight=icon.chevronRight()
        )}}
    </div>
    {% endmacro %}
    {{ buttonPreview("3xs", "gap-x-10") }}
    {{ buttonPreview("2xs", "gap-x-12") }}
    {{ buttonPreview("xs", "gap-x-14") }}
    {{ buttonPreview("sm", "gap-x-16") }}
    {{ buttonPreview("md", "gap-x-18") }}
    {{ buttonPreview("lg", "gap-x-20") }}
    {{ buttonPreview("xl", "gap-x-24") }}
</div>

<section></section>