{% macro button(href, variant, size, class, target, attrs, track, styles, iconLeft, label, iconRight) %}
    <a href="{{ href }}" class="button variant-{% if variant %}{{variant}}{% else %}primary{% endif %} size-{{ size }} {{ class }}" {% if target %}target="{{ target }}"{% endif %} {{ attrs }} {% if analytics %}data-click="{{ track }}"{% endif %} {% if style %}style="{{ styles }}"{% endif %}>
        {% if iconLeft %}
            <div>
                {{ iconLeft }}
            </div>
        {% endif %}
        <span>
            {{ label }}
        </span>
        {% if iconRight %}
            <div>
                {{ iconRight }}
            </div>
        {% endif %}
    </a>
{% endmacro %}