{% macro button(href, variant, size, class, target, attrs, track, styles, iconLeft, label, iconRight) %}
    <a href="{{ href }}" class="button variant-{% if variant %}{{variant}}{% else %}primary{% endif %} size-{{ size }} {{ class }}" {% if target %}target="{{ target }}"{% endif %} {{ attrs }} {% if analytics %}data-click="{{ track }}"{% endif %} {% if style %}style="{{ styles }}"{% endif %}>
        {% if iconLeft %}
            <div>
                {{ iconLeft }}
            </div>
        {% endif %}
        <span>
            {{ label }}
        </span>
        {% if iconRight %}
            <div>
                {{ iconRight }}
            </div>
        {% endif %}
    </a>
{% endmacro %}

{% macro designGrid() %}
    <div class="absolute w-full h-full flex items-center justify-center sm:px-48">
        <div class="contain flex justify-between h-full">
            <div class="items-center justify-center w-24 sm:w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 flex -ml-24 sm:-ml-16"><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 flex                         "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 hidden sm:flex               "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 hidden sm:flex               "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 hidden sm:flex               "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 hidden sm:flex               "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 hidden sm:flex               "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 hidden sm:flex               "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 hidden sm:flex               "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 hidden sm:flex               "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 hidden sm:flex               "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 hidden sm:flex               "><div class="h-full border-r border-inverse/8"></div></div>
            <div class="items-center justify-center w-24 sm:w-16 h-full border-x border-inverse/6 border-dashed bg-inverse/2 flex -mr-24 sm:-mr-16"><div class="h-full border-r border-inverse/8"></div></div>
        </div>
    </div>
{% endmacro %}