{% import "_icons.njk" as icon %}
{% import "_elements.njk" as element %}

{% macro header(nav) %}
    <header class="section fixed top-0 left-0 h-56 z-50 border-b border-inverse/10 bg-background">
        <div class="contain flex justify-between items-center gap-24">
            <div class="relative items-center">
                {{ icon.wordmark('w-80 h-auto')}}
            </div>
            {% if nav %}
                <nav class="relative w-full">
                    <ul class="relative w-full flex items-center gap-16">
                        {% for item in nav | selectattr("header") %}
                            <li>
                                {{ element.button(
                                    variant="text theme",
                                    size="sm",
                                    href=item.href,
                                    label=item.label
                                )}}
                            </li>
                        {% endfor %}
                        <li>
                            <details>
                                {{ element.button(
                                    element="summary",
                                    variant="text theme",
                                    size="sm",
                                    label="Summary"
                                )}}
                                <ul>
                                    <li>
                                        <a href="#">
                                            Test
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Test
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Test
                                        </a>
                                    </li>
                                </ul>
                            </details>
                        </li>
                    </ul>
                </nav>
            {% endif %}
            <div class="relative flex items-center justify-end gap-8">
                {{ element.button(
                    variant="text theme",
                    size="sm",
                    href="#",
                    label="View docs"
                )}}
                {{ element.button(
                    size="sm",
                    href="#",
                    label="Get started"
                )}}
            </div>
        </div>
    </header>
{% endmacro %}